@tailwind base;
@tailwind components;
@tailwind utilities;


.clip-trapezoid-left {
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}

.clip-trapezoid-right {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
}

.font-bn {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-pf {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-ms {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-ns {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.font-ns-italic {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}